@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .square-grid-bg {
        background-color: #262626; 
        background-image: linear-gradient(90deg, #333333 2px, transparent 1px), 
                          linear-gradient(180deg, #333333 2px, transparent 1px);
        background-size: 50px 50px;
        animation: moveSquares 5s linear infinite;
    }

    @keyframes moveSquares {
        from {
            background-position: 0 0;
        }
        to {
            background-position: -50px -50px;
        }
    }
}

::selection {
    background-color: #e47e00;
    color: #333333;
}

/* Dashboard */
.monster {
    position: relative;
    cursor: pointer;
}
.monster .sprite {
    transform-origin: center;
}
.monster .tooltip {
    visibility: hidden;
    background-color: #333333;
    color: #e47e00;
    text-align: center;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.monster:hover .tooltip,
.monster.clicked .tooltip {
    visibility: visible;
    opacity: 1;
}

#stats-panel {
    animation: slideIn 0.3s ease-out;
}
@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
#monster-container.rounded-b-none {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
/* Dashboard */